* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Megrim", cursive;
}
body {
  background-color: #124559;
}

/* Header */
main {
  height: 100%;
  background: linear-gradient(90deg, #aec3b0 15%, #01161e 0);
}
nav ul {
  display: flex;
}
h2 {
  color: #01161e;
  font-size: 35px;
  padding: 20px;
  margin: 20px 10px;
  text-shadow: 3px 3px 3px #598392;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  background-color: #598392;
  color: #01161e;
  border-bottom: 5px solid #aec3b0;
  border-top: 14px solid #124559;
  border-top: 14px solid #aec3b0;
}
nav {
  display: flex;
}
#nav-title {
  margin-right: auto;
  font-family: "Suez One", serif;
  font-size: 60px;
  text-shadow: 2px 2px 3px #aec3b0;
  text-decoration: underline;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  font-size: 30px;
}

header a,
.contact {
  font-size: 20px;
  text-decoration: none;
  color: #aec3b0;
  text-shadow: 3px 3px 3px #124559;
  transition: all 0.3s ease 0s;
}

header a:hover,
.contact:hover {
  color: #b2dfdb;
}

.profile-pic {
  justify-content: flex-start;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #124559;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

p {
  color: #eff6e0;
  background: transparent;
  padding: 30px;
  margin: 10px 200px 50px 50px;
  border: 5px solid #598392;
  max-width: 700px;
}
.first {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  margin: 10px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  margin: 10px;
}
.about-me section {
  display: flex;
  justify-content: center;
}
section div {
  display: flex;
  justify-content: flex-end;
}
section img {
  display: inline-block;
}

.first img {
  margin: 0 30px 30px 0;
  flex: 1 1 100px;
}

.projects {
  flex: 4;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
  width: 100vw;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 200px;
  margin: 20px;
  border: 5px solid #598392;
  max-height: 382.91px;
}

.card header,
.most-important header {
  padding: 20px;
  font-family: "Suez One", serif;
  font-size: 18px;
  color: #aec3b0;
  text-shadow: 3px 3px 3px #01161e;
  justify-content: center;
}

.card p,
.most-important p {
  text-align: center;
}

.card img,
.most-important img {
  width: 100%;
  height: auto;
}

.card img {
  border-bottom: 90px solid #aec3b0;
  border-top: 40px solid #aec3b0;
}

.most-important {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  flex: 0 0 300px;
  border: 5px solid #598392;
}
.family-img {
  object-fit: cover;
  max-width: 200px;
  max-height: auto;
  border: 5px solid #598392;
}

.contact {
  display: flex;
  list-style: none;
  justify-content: center;
  text-decoration: none;
  padding: 15px;
  margin: 15px;
}

section li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
}

footer {
  color: #aec3b0;
  background-color: #598392;
  text-align: center;
  padding: 10px;
}

.contact a {
  color: inherit;
}

@media screen and (max-width: 1575px) {
  h2 {
    text-align: center;
    color: #aec3b0;
  }
}

@media screen and (max-width: 992px) {
  header {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }
  #nav-title {
    margin: 0 auto;
  }

  .first {
    flex-direction: column;
  }
  .first img,
  .first p {
    margin: 15px auto;
  }

  .projects {
    flex-direction: column;
    align-items: center;
  }
  .most-important {
    max-width: 45vw;
  }

  .card {
    max-width: 30vw;
  }

  .contact a {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  main {
    height: 100%;
    background: linear-gradient(90deg, #01161e 0, #01161e 100%);
  }

  p {
    color: #eff6e0;
    background: transparent;
    padding: 30px;
    margin: 0 auto;
    border: 5px solid #598392;
    max-width: 70vw;
  }
}
